body {
  margin: 0;
  padding: 0;
}

#home {
  position: relative;
  top: 5vh;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

#nav{
  position: relative;
  top: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#goToPage1, #goToPage2, #goToPage3 {
  margin: 20px 0;
  padding: 25px;
  width: 60%;
}

#goToHome {
  position: fixed;
  top: 0;         
  left: 0;
  margin: 10px;
  padding: 10px 20px;
}

.word{

  height: 50vh;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(50%, 50%);
}

.hidden {
  display: none;
}

.button{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    margin: 50px 0;
    border: solid 1px black;
    border-radius: 5px;
}

.word-style {
  font-size: 50px;
}

.definition-style {
  font-size: 30px;
}

@media (max-width: 600px){
  .word {
    width: 100%;
    transform: translate(0, 50%);
  }
}

